* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #FAFAFA;
    font-family: 'Commissioner', sans-serif;
    position: relative;
}

/* Utilities */
h1 {
    font-size: 28px;
    font-weight: 700;
}

h2 {
    font-size: 22px;
    font-weight: 700;
}

h3 {
    font-size: 20px;
    font-weight: 700;
}

h4 {
    font-size: 18px;
    font-weight: 500;
    color: #3CB4AB;
}

a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

ul {
    list-style: none;
}

p {
    color: #7C7C7C;
}

.card {
    background: #fff;
    padding: 45px 40px;
    border-radius: 10px;
    border: 2px solid #F4F4F4;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
}

.btn {
    background: #3CB4AB;
    color: #fff;
    font-weight: 500;
    border-radius: 30px;
    cursor: pointer;
    transition: background 0.3s ease-in;
}

.btn:hover {
    background: #157A74;
}

.btn-big {
    padding: 15px 40px;
}

.btn-small {
    padding: 15px 30px;
    font-size: 14px;
}

.active {
    border-color: #3CB4AB;
}

.show {
    display: flex !important;
}

/* Header */
header {
    background: url('images/image-hero-desktop.jpg') no-repeat center center;
    background-size: 100% 100%;
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}

nav:before {
    position: absolute;
    content: '';
    background: rgba(0, 0, 0, 0.2);
    height: 100%;
    width: 100%;
    z-index: -1;
    top: 0;
    left: 0;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 76%;
    margin-top: 50px;
    z-index: 5;
}

#navbar {
    display: flex;
}

#navbar li {
    margin-left: 30px;
    font-size: 14px;
}

/* Main Container */
main {
    width: 730px;
    align-self: center;
    z-index: 5;
    position: relative;
    transform: translateY(-10vh);
}

/* About Section */
#about {
    padding-top: 55px;
}

#about > img {
    position: absolute;
    top: -30px;
}

#about h1 {
    margin-bottom: 15px;
}

#about > div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 40px;
}

#bookmark-container {
    position: relative;
    background: #F4F4F4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px 20px 15px 60px ;
    border-radius: 30px;
    cursor: pointer;
}

#bookmark-icon {
    position: absolute;
    height: 100%;
    width: 50px;
    background: url('images/icon-bookmark.svg') center center;
    background-size: 100% 100%;
    left: 0;
}

#bookmark-container p {
    font-weight: 700;
}

#bookmark-container.marked {
    background: #F4F8F9;
}

#bookmark-container.marked p {
    color: #157A74;
}

#bookmark-container.marked > #bookmark-icon {
    background: url('images/icon-bookmark-active.svg') center center;
    background-size: 100% 100%;
}

/* Progress Section */
#progress-numbers {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    margin-bottom: 45px;
}

#progress-numbers li {
    width: 33.33%;
    border-left: solid 1px #7c7c7c69;
    text-align: center;
}

#progress-numbers li:first-child {
    border: none;
}

#progress-bar {
    width: 100%;
    height: 15px;
    border-radius: 15px;
    background-color: #f4f4f4;
}

#progress-status {
    width: 90%;
    height: 100%;
    border-radius: inherit;
    background-color: #3CB4AA;
}

/* Get Started Section */
#get-started {
    display: flex;
    flex-direction: column;
}

#get-started h2 {
    align-self: flex-start;
    margin-bottom: 30px;
}

#get-started p {
    line-height: 30px;
    margin-bottom: 30px;
}

#get-started .options .card > div {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.options .card p {
    margin-top: 30px;
}

.options .card h1 {
    display: flex;
    align-items: center;
}

.options .card span {
    font-size: 16px;
    color: #7C7C7C;
    font-weight: 500;
    margin-left: 5px;
}

.options .card:last-child {
    margin-bottom: 0;
}

/* Modal */
.modal {
    width: 730px;
    align-self: center;
    position: fixed;
    top: 10vh;
    z-index: 25;
    height: 80vh;
    display: none;
}

.modal > img {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}

.modal .options {
    overflow-y: auto;
}

.modal .options .card {
    padding: 0;
    display: flex;
    flex-direction: column;
}

.modal > h2,
.modal > p {
    align-self: flex-start;
}

.modal > p {
    padding: 20px 0;
    font-size: 14px;
}

.modal .options .wrapper {
    display: flex;
    flex-direction: row;
    padding: 0;
    position: relative;
    padding: 30px 20px;
}

.modal .options .wrapper .content {
    display: flex;
    flex-direction: column;
}

.modal .options .wrapper .content > div {
    display: flex;
    position: relative;
    align-items: flex-start;
}

.modal .options .wrapper .content > div h3 {
    margin-right: 15px;
}

.modal .options .wrapper .content > div h3,
.modal .options .wrapper .content > div h4 {
    font-size: 18px;
}

.modal .options .wrapper .content > div h1 {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 18px;
}

.modal .options .wrapper .content p {
    margin-top: 10px;
    line-height: 30px;
    font-size: 14px;
}

/* Modal Checkbox */
.modal .options .wrapper .toggler {
    position: absolute;
    top: 33px;
    width: 20px;
    height: 20px;
    opacity: 0;
}

.modal .options .wrapper .toggler:checked ~ .radio-container .radio-button {
    background: #3CB4AA;
}

.radio-container {
    align-self: flex-start;
    background: #fff;
    padding: 4px;
    border-radius: 50%;
    border: 1px solid #7c7c7c69;
    margin-right: 20px;
    margin-top: 3px;
}

.radio-button {
    background: #fff;
    padding: 5px;
    border-radius: 50%;
}

/* Modal Scrollbar */
/* width */
.modal ::-webkit-scrollbar {
    width: 7px;
}

/* Track */
.modal ::-webkit-scrollbar-track {
    border-radius: 20px;
}

.modal ::-webkit-scrollbar-track:hover {
    background: #f4f4f4;
}
/* Handle */
.modal ::-webkit-scrollbar-thumb {
    background: #BCC0C4; 
    border-radius: 10px;
}

/* Modal Accordion */

.modal .options .card .accordion {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    padding: 15px 20px;
    border-top: 1px solid #F4F4F4;
    display: none;
}

.modal .options .card .accordion p {
    margin-top: 0;
    font-size: 14px;
}

.modal .options .card .accordion > p {
    position: absolute;
    left: 20px;
}

.accordion .pledge {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    border: 1px solid #7c7c7c69;
    border-radius: 30px;
    margin-right: 15px;
    cursor: pointer;
}

.accordion .pledge input {
    height: fit-content;
    width: 25px;
    border: none;
    text-align: center;
    margin-left: 5px;
    font-family: 'Commissioner', sans-serif;
    font-weight: 700;
    color: #000;
}

.accordion .pledge input::-webkit-outer-spin-button,
.accordion .pledge input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.accordion .pledge input:focus {
    outline: none;
}

.accordion .pledge p {
    font-size: 14px;
}

.accordion .pledge input::placeholder {
    color: #000;
    font-family: 'Commissioner', sans-serif;
    font-weight: 700;
}

/* Overlay */
#overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 20;
    display: none;
}